
#app {
    background-image: url(../blob-scene-haikei.svg);
    background-size: cover;
}

#nav_drawer {
    background-color: transparent;
}

#page_header {
    background-color: transparent
    // background-image: linear-gradient(to right top, #28620b, #3a720d, #4d820e, #60930f, #75a30f);
}

#header_element {
    color: rgb(170, 170, 170);
}
  
#main_block {
}

#container_1 {
    background-image: url(../stacked-waves-haikei.svg);
    background-size: cover;
}

#container_2 {
    background-image: url(../blob-haikei.svg);
    background-size: cover;
}

#container_3 {
    background-image: url(../blob-scene-haikei-simple.svg);
    background-size: cover;
}